{% extends 'base.html' %}

{% block title %}
{{ list_object.name }}
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ list_object.name }}</h1>
        <p><a href="{% url 'todo_list_update' list_object.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' list_object.id %}">Delete</a></p>
    </div>
    <br>
    <div>
        <table>
            <thead>
                <th>Task</th>
                <th>Due Date</th>
            </thead>
            <tbody>
                {% for item in list_object.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                    <td>{{ item.due_date|date:"F j, Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
